* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 15px;
    --background-clr-main: #d4edea;
    --background-clr-sec: #ffb987;
    --background-clr-misc: #dba9b7;
}
body {
    width: 100vw;
    background-color: var(--background-clr-main, silver);
}

#add-btn {
    margin: 2rem auto;
    background-color: rgb(190, 190, 190);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#add-btn:hover {
    background-color: rgb(160, 160, 160);
}

.card-container {
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}
.card {
    background-color: whitesmoke;
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    gap: 1rem;
}
.card > h2 {
    font-size: 1.5rem;
    text-align: center;
    overflow-wrap: break-word;
}
.card > h3,
.card > p {
    font-size: 1.2rem;
    text-align: center;
    overflow-wrap: break-word;
}
.card > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
    width: 100%;
}
.card button {
    width: 100%;
    font-size: 1.1rem;
    padding: .8rem;
    border-radius: 10px;
    border: 2px solid black;
}
.card button:nth-of-type(2) {
    background-color: var(--background-clr-main, silver);
}
.read-btn {
    background-color: rgb(3, 196, 3);
}
.notread-btn {
    background-color: red;
}

/*Modal*/
#dialog-book {
    z-index: 1;
    position: fixed;
    padding: 2rem 3rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--background-clr-sec, orange);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#dialog-book form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
form > h4 {
    font-size: 1.5rem;
}
form input {
    font-size: 1.4rem;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
    height: 1rem;
}
form input:focus {
    outline: none;
    border: none;
}
.read-check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-top: -.5rem;
}
.read-check > p {
    font-size: 1.5rem;
}
.read-check > input {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 4px;
}
form button {
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    padding: .7rem;
    border: 1px solid black;
    border-radius: 8px;
}