* {
    padding: 0;
    margin: 0;
    font-family: "albert-text", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}
html {
    font-size: 15px;
    --background-clr-main: #45494d;
    --background-clr-sec: #373838; 
    --backgroun-clr-crd: #523211;
}
body {
    max-width: 100vw;
    min-height: 100svh;
    background-color: var(--background-clr-main);
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
}
@font-face {
    font-family: albert-text;
    src: url(AlbertText-Bold.ttf);
}

/*Form*/
.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    padding: 0 2rem;
    background-color: var(--background-clr-sec);
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    min-width: 18rem;
    position: sticky;
    top: 50%;
    transform: translate(0, -50%);
}
.sidebar > h1 {
    color: white;
    position: fixed;
    top: 2rem;
    margin-left: 1rem;
    font-size: 2.5rem;
}
form input {
    font-size: 1.4rem;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    box-sizing: border-box;
}
form input:focus {
    outline: none;
    border: none;
}
.read-check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-top: -.5rem;
}
.read-check > p {
    font-size: 1.5rem;
    color: white;
}
.read-check > input {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 4px;
}
form button {
    font-size: 1.3rem;
    font-weight: 500;
    width: 100%;
    padding: .7rem;
    border: 1px solid black;
    border-radius: 8px;
}
form button:hover {
    filter: brightness(90%);
}

/*Main*/
.main {
    grid-area: 1 / 2 / -1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 5rem;
    color: white;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(joshua-bartell-6vvIBTvL90A-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 8rem;
    min-width: 25rem;
    text-wrap: nowrap;
    box-sizing: border-box;
}

.card-container {
    padding: 2rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    background-color: var(--background-clr-main);

}
.card {
    padding: 1.5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
    gap: 1rem;
    height: 18rem;
    color: white;
    background-color: var(--backgroun-clr-crd);
    box-shadow: 4px 4px var(--background-clr-sec);
}
.card > h2 {
    font-size: 1.5rem;
    text-align: center;
    word-break: break-all;
}
.card > h3,
.card > p {
    font-size: 1.35rem;
    text-align: center;
    word-break: break-all;
}
.card > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
}
.card button {
    width: 100%;
    font-size: 1.1rem;
    padding: .75rem;
    border-radius: 10px;
    border: 2px solid black;
}
.card button.remove-btn {
    background-color: whitesmoke;
}
.card button.remove-btn:hover,
.card button.status-btn:hover {
    filter: brightness(90%);
}

.read-btn {
    background-color: #50c878;
}
.notread-btn {
    background-color: #f10736;
}

