* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {
    font-size: 15px;
}
body {
    width: 100vw;
}

#add-btn {
    margin: 2rem auto;
    background-color: rgb(182, 182, 182);
    font-size: 2rem;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
#add-btn:hover {
    background-color: rgb(150, 150, 150);
}

.card-container {
    padding: 1rem 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
}
.card {
    padding: 1.5rem;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 1fr auto;
    border: 2px solid black;
    gap: 5px;
}
.card-information {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
}
.card-information > h2 {
    font-size: 1.5rem;
}
.card-information > h3,
.card-information > p {
    font-size: 1.2rem;
}
.card-buttons {
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1rem;
}
.card-buttons > button {
    font-size: 1.1rem;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 2px solid black;
}

/*Modal*/
#dialog-book {
    z-index: 1;
    position: fixed;
    padding: 2rem 3rem;
    border: 2px solid black;
    border-radius: 10px;
    background-color: gainsboro;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
dialog::backdrop {
    background-color: rgba(221, 224, 0, 0.315);
}
#dialog-book form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}
form > h4 {
    font-size: 1.5rem;
}
form input {
    font-size: 1.4rem;
    padding: 12px;
    border-radius: 5px;
    border-style: none;
    height: 1rem;
}
form input:focus {
    outline: none;
    border: none;
}
.read-check {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .8rem;
    margin-top: -.2rem;
}
.read-check > p {
    font-size: 1.5rem;
}
.read-check > input {
    width: 1.1rem;
    height: 1.1rem;
}
form button {
    font-size: 1.4rem;
    font-weight: 500;
    width: 100%;
    padding: .75rem;
    border: 1px solid black;
    border-radius: 8px;
}